# Data preprocessing step by step

In [ ]:
#Dealing with missing data

In [7]:
import pandas as pd
df=pd.read_csv('C:\\Users\\pc\\Desktop\\DataScience\\python\\data.csv')
df.head()

   A   B     C    D
0  1   2   3.0  4.0
1  5   6   NaN  8.0
2  0  11  12.0  NaN

In [3]:
from sklearn.preprocessing import Imputer
imr=Imputer(missing_values='NaN',strategy='mean',axis=0)
imr=imr.fit(df) 
Impute_imr=imr.transform(df.values)
Impute_imr

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [ 0. , 11. , 12. ,  6. ]])

In [4]:
#Find null data in a dataset
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [5]:
#Eliminating missing values
df.dropna()

   A  B    C    D
0  1  2  3.0  4.0

In [ ]:
#several dropna method
df.dropna(how=all) #drops where all columns are NA
df.dropna=(thresh=4) #drops rows that have not atleast 4 non-NaN values
df.dropna(subset=['C']) #drop rows where NaN appear in specific columns (here :'C')

In [10]:
#One hot Encoding
Ohe=pd.read_csv('C:\\Users\\pc\\Desktop\\DataScience\\python\\data_onehotencoding.csv')
Ohe.head()

       A   B   C  D
0   Blue   2   3  4
1  green   6   5  8
2    Red  11  12  3

In [12]:
#get dummies method will convert string columns and leave all other columns unchanged.
pd.get_dummies(Ohe[['A','B','C','D']])

    B   C  D  A_Blue  A_Red  A_green
0   2   3  4       1      0        0
1   6   5  8       0      0        1
2  11  12  3       0      1        0

In [17]:
#Encoding class labels
import pandas as pd
Tshrt= pd.DataFrame([['green','M',10.1,'class1'],
                    ['red','L',13.5,'class2'],
                    ['blue','XL',15.3,'class1'],])
Tshrt.columns=['color','size','price','classlabel']
Tshrt

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [15]:
import numpy as np
class_mapping={label:idx for idx,label in enumerate(np.unique(Tshrt['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

In [16]:
Tshrt['classlabel']=Tshrt['classlabel'].map(class_mapping)
Tshrt

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           0