In [1]:
import pandas as pd
import numpy as np

In [2]:
concerte_data=pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concerte_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concerte_data.shape

(1030, 9)

In [4]:
concerte_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concerte_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [11]:
concerte_data_columns=concerte_data.columns
predictors=concerte_data[concerte_data_columns[concerte_data.columns!='Strength']]
target=concerte_data['Strength']

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [15]:
predictors_norm=(predictors-predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [18]:
import keras

Using TensorFlow backend.

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [21]:
#define regression model
def regression_model():
    model=Sequential()
    model.add(Dense(50,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(50,activation='relu'))
    model.add(Dense(1))#compile
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

In [22]:
model=regression_model()

WARNING:tensorflow:From C:\Users\pc\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [23]:
model.fit(predictors_norm,target,validation_split=0.3,epochs=50,verbose=2)

WARNING:tensorflow:From C:\Users\pc\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 1640.2309 - val_loss: 1128.9822
Epoch 2/50
 - 0s - loss: 1479.1299 - val_loss: 970.1326
Epoch 3/50
 - 0s - loss: 1225.0852 - val_loss: 740.1158
Epoch 4/50
 - 0s - loss: 872.4688 - val_loss: 473.3010
Epoch 5/50
 - 0s - loss: 506.9539 - val_loss: 263.8555
Epoch 6/50
 - 0s - loss: 301.7105 - val_loss: 173.9334
Epoch 7/50
 - 0s - loss: 242.0681 - val_loss: 157.6930
Epoch 8/50
 - 0s - loss: 223.3365 - val_loss: 153.3029
Epoch 9/50
 - 0s - loss: 210.0742 - val_loss: 150.7411
Epoch 10/50
 - 0s - loss: 200.5568 - val_loss: 147.6173
Epoch 11/50
 - 0s - loss: 192.9805 - val_loss: 147.1469
Epoch 12/50
 - 0s - loss: 186.3586 - val_loss: 148.1216
Epoch 13/50
 - 0s - loss: 180.6846 - val_loss: 145.9125
Epoch 14/50
 - 0s - loss: 175.4878 - val_loss: 146.6495
Epoch 15/50
 - 0s - loss: 171.6264 - val_loss: 145.8430
Epoch 16/50
 - 0s - loss: 167.9020 - val_loss: 145.8314
Epoch 17/50
 - 0s - loss: 164.8747 - val_loss: 147.6177
Epoch 18/50
 - 0s - loss: 160.7245 - val_loss: 146.8196
Epoch 19/50
 - 0s - loss: 157.9546 - val_loss: 145.1959
Epoch 20/50
 - 0s - loss: 155.2028 - val_loss: 148.9676
Epoch 21/50
 - 0s - loss: 152.3430 - val_loss: 145.2729
Epoch 22/50
 - 0s - loss: 150.3731 - val_loss: 146.2564
Epoch 23/50
 - 0s - loss: 147.8345 - val_loss: 147.8759
Epoch 24/50
 - 0s - loss: 146.0274 - val_loss: 147.2958
Epoch 25/50
 - 0s - loss: 144.4767 - val_loss: 146.5337
Epoch 26/50
 - 0s - loss: 142.6241 - val_loss: 145.2796
Epoch 27/50
 - 0s - loss: 140.9879 - val_loss: 147.9489
Epoch 28/50
 - 0s - loss: 139.7271 - val_loss: 147.2603
Epoch 29/50
 - 0s - loss: 139.0169 - val_loss: 148.4499
Epoch 30/50
 - 0s - loss: 137.0747 - val_loss: 147.1935
Epoch 31/50
 - 0s - loss: 135.3307 - val_loss: 147.6875
Epoch 32/50
 - 0s - loss: 134.4218 - val_loss: 148.2454
Epoch 33/50
 - 0s - loss: 132.8165 - val_loss: 147.7561
Epoch 34/50
 - 0s - loss: 131.9908 - val_loss: 148.5618
Epoch 35/50
 - 0s - loss: 130.6802 - val_loss: 148.7500
Epoch 36/50
 - 0s - loss: 129.3662 - val_loss: 148.8932
Epoch 37/50
 - 0s - loss: 127.8527 - val_loss: 147.4405
Epoch 38/50
 - 0s - loss: 126.7327 - val_loss: 146.9558
Epoch 39/50
 - 0s - loss: 124.8025 - val_loss: 150.0532
Epoch 40/50
 - 0s - loss: 124.0212 - val_loss: 147.2687
Epoch 41/50
 - 0s - loss: 122.0814 - val_loss: 148.3182
Epoch 42/50
 - 0s - loss: 120.8692 - val_loss: 146.1787
Epoch 43/50
 - 0s - loss: 119.5106 - val_loss: 150.4557
Epoch 44/50
 - 0s - loss: 117.5863 - val_loss: 147.7601
Epoch 45/50
 - 0s - loss: 116.3105 - val_loss: 148.0341
Epoch 46/50
 - 0s - loss: 114.6652 - val_loss: 145.0265
Epoch 47/50
 - 0s - loss: 112.9547 - val_loss: 147.9425
Epoch 48/50
 - 0s - loss: 111.8487 - val_loss: 143.5934
Epoch 49/50
 - 0s - loss: 110.0197 - val_loss: 143.0044
Epoch 50/50
 - 0s - loss: 107.6403 - val_loss: 144.9595

In [27]:
predictors_norm.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64